<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" type="text/css" href="../public/css/slick.css">
  <link rel="stylesheet" type="text/css" href="../public/css/slick-theme.css">
  <link rel="shortcut icon" href="../public/icon/logo.png">
  <title>Medihabs</title>
</head>

<body>
  <!-- navbar -->
  <div class="navbar_m">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="homepage.html"><img class="logo" src="../public/images/logo.jpeg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="homepage.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <form class="d-flex">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Login/Signup
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="login.html">Doctor</a></li>
                <li><a class="dropdown-item" href="login.html">Patient</a></li>
                <li><a class="dropdown-item" href="login.html">Hospital</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- Info content -->
  <div class="row">
    <div class="col col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="homepage.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Ludhiana Hospitals</a></li>
          <li class="breadcrumb-item active" aria-current="page">Hospital Name</li>
        </ol>
      </nav>
      <hr>
      <div class="row cards">
        <div class="col-lg-3 hospital_image" style="background-color: red;">
          <img src="../public/images/sl_1.png" alt="">
        </div>
        <div class="col-lg-6" style="background-color: powderblue; color: black;">
          <div class="row">
            <h3 style="text-align: left;">FORTIS HOSPITAL</h3>

            <ul style="text-align: left; margin-left: 10px;">
              <li><span class="hospital_info">> Address</span></li>
              <li><span class="hospital_info">> Speciality</span></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3" style="background-color: powderblue;">
          <ul class="hospital_card_endinfo">
            <li><span>4.3KM</span></li>
            <li><span>RATING</span></li>
            <button class="btn btn-info">Hospital Helpline</button>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="m-2">
        <h2>Suggestions/FAQs</h2>
      </div>
      <hr>
      <div class="m-2">
        <ul class="faqs">
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <li>>Top Doctors in Ludhiana</li>
          <style>
            .faqs {
              text-align: left;
            }
          </style>


        </ul>
      </div>
    </div>
  </div>

  <!-- slider -->
  <h1>Departments at fortis hospital</h1>
  <div class="regular slider" style="margin-top: 20px;">

    <div class="card 1">
      <div class="card_image">
        <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img src="../public/images/card_5" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 3">
      <div class="card_image">
        <!-- <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> -->
        <img
          src="https://images.unsplash.com/flagged/photo-1564822110733-14cee2926c52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80"
          alt="">
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 4">
      <div class="card_image">
        <!-- <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" /> -->
        <img src="https://wallpaperaccess.com/full/1215898.jpg" alt="">
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 5">
      <div class="card_image">
        <img src="../public/images/card_5" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

  </div>

  <h1>Doctors at fortis hospital</h1>
  <div class="regular slider" style="margin-top: 20px;">

    <div class="card 1">
      <div class="card_image">
        <img src="https://i.redd.it/b3esnz5ra34y.jpg" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 2">
      <div class="card_image">
        <img src="../public/images/card_5" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 3">
      <div class="card_image">
        <!-- <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" /> -->
        <img
          src="https://images.unsplash.com/flagged/photo-1564822110733-14cee2926c52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80"
          alt="">
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 4">
      <div class="card_image">
        <!-- <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" /> -->
        <img src="https://wallpaperaccess.com/full/1215898.jpg" alt="">
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

    <div class="card 5">
      <div class="card_image">
        <img src="../public/images/card_5" />
      </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col col-md-9">
      <div class="col-lg-6 m-3">
        <h3>Review</h3>
        <div class="input-group mb-3">
          <span class="input-group-text">Name</span>
          <input type="text" aria-label="Name" class="form-control">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Allocated To</span>
          <input type="text" aria-label="Doctor name" class="form-control" placeholder="Doctor">
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave feedback" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Comments!</label>
        </div>
      </div>
      <div class="col-lg-6 m-3">
        <div><label style="font-size: large;">Rate Us:</label></div>
        <div>
          <span class="star-rating">
            <input type="radio" name="rating2" value="1"><i></i>
            <input type="radio" name="rating2" value="2"><i></i>
            <input type="radio" name="rating2" value="3"><i></i>
            <input type="radio" name="rating2" value="4"><i></i>
            <input type="radio" name="rating2" value="5"><i></i>
          </span>
        </div>
        <div><button class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="mt-auto" style="position: static; width: 100%; bottom: 0;">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md">
          <h3>NAVIGATION</h3>
          <hr class="hr">
          <ul>
            <li>About MediHabs</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h3>OUR CONTACTS</h3>
          <hr class="hr">
          <ul>
            <li>Email Address</li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h3>SERVICES</h3>
          <hr class="hr">
        </div>
        <div class="col-12 col-md">
          <h3>NEWSLETTER</h3>
          <hr class="hr">
          <ul class="text">
            <li class="special">E-mail Address</li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h3 class="fc_text">DOWNLOAD <span><br>OUR<br> APP</span></h3>
          <div class="store">
            <a href=""><img src="../public/images/playstore.png" width="65" height="65"></a>
            <a href=""><img src="../public/images/appstore.png" width="65" height="65"></a>
          </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          &copy 2021
          <a class="text-reset fw-bold" href="#">Medihabs.com</a>
        </div>
      </div>
  </footer>




  <!-- Optional JavaScript; choose one of the two! -->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

  <script src="../public/js/script.js"></script>

  <script src="../public/js/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="../public/js/script.js"></script>
</body>
</body>

</html>