<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">

   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
   <link rel="stylesheet" href="../public/css/style.css">
   <link rel="stylesheet" type="text/css" href="../public/css/slick.css">
   <link rel="stylesheet" type="text/css" href="../public/css/slick-theme.css">
   <title>Medihabs</title>
   <link rel="stylesheet" href="../public/css/style1.css">

</head>

<body>
   <div class="navbar_m">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" id="nav">
         <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="logo" src="../public/images/logo.jpeg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="homepage.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">News</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Blogs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Gallery</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contacts</a>
                  </li>
               </ul>

               <ul class="navbar-nav ms-auto">
                  <form class="d-flex">
                     <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Login/Signup
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Doctor</a></li>
                        <li><a class="dropdown-item" href="#">Patient</a></li>
                        <li><a class="dropdown-item" href="#">Hospital</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </div>

   <main>

      <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

      <input type="radio" id="cb1" class="chb" name="tab">
      <input type="radio" id="cb2" class="chb" name="tab">


      <div class="cover">

         <div class="info info1">

            <div class="btn">

               <label for="cb1" class="sul">
                  <p class="su">Sign Up</p>
               </label>

               <label for="cb2" class="lil">
                  <p class="li">Log In</p>
               </label>

            </div>
         </div>
         <div class="info info2">

            <div class="login-form fm ">
               <h3>
                  Log In
               </h3>
               <div class="formm">
                  <input type="email" name="uname" id="name" placeholder="E-Mail">
                  <input type="password" name="uname" id="name" placeholder="Password">
                  <input type="submit" value="Log In" class="li-btn butn">
               </div>
            </div>

            <div class="signup-form fm">
               <h3>
                  Sign Up
               </h3>
               <div class="formm">
                  <input type="text" name="uname" id="name" placeholder="Name">
                  <input type="email" name="uname" id="name" placeholder="E-Mail">
                  <input type="password" name="uname" id="name" placeholder="Password">
                  <input type="submit" value="Sign Up" class="su-btn butn">
               </div>
            </div>


         </div>

      </div>


</html>

</main>
<footer class="mt-auto" style="width: 100%; bottom: 0; position: static;">
   <div class="container-fluid">
      <div class="row justify-content-center">
         <div class="col-12 col-md">
            <h3>NAVIGATION</h3>
            <hr class="hr">
            <ul>
               <li>About MediHabs</li>
               <li>Contact Us</li>
            </ul>
         </div>
         <div class="col-12 col-md">
            <h3>OUR CONTACTS</h3>
            <hr class="hr">
            <ul>
               <li>Email Address</li>
            </ul>
         </div>
         <div class="col-12 col-md">
            <h3>SERVICES</h3>
            <hr class="hr">
         </div>
         <div class="col-12 col-md">
            <h3>NEWSLETTER</h3>
            <hr class="hr">
            <ul class="text">
               <li class="special">E-mail Address</li>
            </ul>
         </div>
         <div class="col-12 col-md">
            <h3 class="fc_text">DOWNLOAD <span><br>OUR<br> APP</span></h3>
            <div class="store">
               <a href=""><img src="../public/images/playstore.png" width="65" height="65"></a>
               <a href=""><img src="../public/images/appstore.png" width="65" height="65"></a>
            </div>

         </div>
         <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy 2021
            <a class="text-reset fw-bold" href="#">Medihabs.com</a>
         </div>
      </div>
</footer>

<script src="../public/js/script1.js"></script>

<script src="../public/js/script.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="../public/js/slick.js" type="text/javascript" charset="utf-8"></script>
<script src="../public/js/script.js"></script>
</body>

</html>